<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bg-light text-dark">

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid" th:object="${user}">
        <a class="navbar-brand fw-bold" th:text="${user.getEmail()}">Email</a>
            <label class="text-white bg-dark">with roles:</label>
        <span th:each="role: ${user.getRoles()}" th:utext="${role.getRole().replaceFirst('ROLE_', '')}" class="text-white bg-dark ms-2" aria-current="page">&nbsp;</span>
            <div class="navbar-nav ms-auto">
                <a th:href="@{/logout}" class="nav-link active" aria-current="page"> Logout</a>
            </div>

    </div>
</nav>




<!-- Left menu User and Admin -->
<div class="d-flex align-items-start" >
    <div class="nav flex-column nav-pills me-3" style="background-color: #FFF; width: 15%; height: 100vh" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active btn-lg rounded-1" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</button>
        <button class="nav-link btn-lg rounded-1" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</button>
    </div>
    <div class="tab-content p-3 bg-light text-dark align-content-center"  style="width: 85%" id="v-pills-tabContent">
        <div class="tab-pane fade show active bg-light text-dark" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
            <!-- start admin left menu -->
            <h2> Admin panel </h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">User table</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New user</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- User table -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                    <div class="text-bg-light p-3 border"><h5>All users</h5></div>
                    <div class="col p-3" style="background:#FFF;">
                    <table class="table table-striped p-3" >
                        <thead>
                            <tr>
                                <th >ID</th>
                                <th >First Name</th>
                                <th >Last Name</th>
                                <th >Age</th>
                                <th >Email</th>
                                <th >Role</th>
                                <th >Edit</th>
                                <th >Delete</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr th:each="user : ${allUsers}">
                                <th scope="row" th:text="${user.getId()}">id</th>
                                <td th:text="${user.getName()}">Name</td>
                                <td th:text="${user.getSurname()}">Surname</td>
                                <td th:text="${user.getAge()}">Age</td>
                                <td th:text="${user.getEmail()}">Email</td>
                                <td>
                                    <span th:each="role: ${user.getRoles()}" th:utext="${role.getRole().replaceFirst('ROLE_', ' ')}">
                                    </span>
                                    </td>
                                <td>
                                    <!-- start modal edit window -->
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                       data-bs-target="#editModal"
                                       th:data-bs-target="${'#editModal'+user.id}">Edit</a>
                                </td>
                                <td>
                                    <!-- start modal delete window -->
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                       data-bs-target="#DELETE"
                                       th:data-bs-target="${'#DELETE'+user.id}">Delete</a>
                                </td>
                                <!-- Modal  edit-->
                                <div class="modal fade" th:id="${'editModal'+user.id}"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- start edit form -->
                                                <form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                                                    <fieldset disabled>
                                                        <div class="mb-3">
                                                            <label for="idEdit">ID: </label> <br>
                                                            <input type="text" th:name="id" th:value="*{id}" id="idEdit" class="form-control" placeholder="Disabled input"/>
                                                        </div>
                                                    </fieldset>
                                                    <div class="form-group">
                                                        <label for="nameEdit">First name: </label><br>
                                                        <input type="text" th:name="name" th:value="*{name}" id="nameEdit" class="form-control"/>
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="surnameEdit">Last name: </label><br>
                                                        <input type="text" th:name="surname" th:value="*{surname}" id="surnameEdit" class="form-control"/>
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="ageEdit">Age: </label>
                                                        <input type="number" th:name="age" th:value="*{age}" id="ageEdit" class="form-control"/>
                                                        <br/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailEdit">Email: </label>
                                                        <input type="text" th:name="email" th:value="*{email}" id="emailEdit" class="form-control"/>
                                                        <br/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="passwordEdit">Password: </label>
                                                        <input type="text" th:name="password" th:value="*{password}" id="passwordEdit" class="form-control"/>
                                                        <br/>
                                                    </div>
                                                    <select multiple
                                                            class="form-control form-control-sm"
                                                            id="roles2"
                                                            name="roles"
                                                            size="2" required>
                                                        <option th:each="role: ${userRoles}"
                                                                th:value="${role.getId()}"
                                                                th:selected="${user.getRoles()}">
                                                            <th:block
                                                                    th:text="${role.getRole()}">
                                                            </th:block>
                                                        </option>
                                                    </select>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                    </div>
                                                </form>
                                                <!-- end edit form -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- end modal edit window -->

                                <!-- Modal Delete-->
                                <div class="modal fade" th:id="${'DELETE'+user.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabelDelete">Edit user</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- start edit form -->
                                                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                                                    <fieldset disabled>
                                                        <div class="mb-3">
                                                            <label for="idDelete">ID: </label> <br>
                                                            <input type="text" th:name="id" th:value="*{id}" id="idDelete" class="form-control" placeholder="Disabled input"/>
                                                        </div>

                                                    <div class="mb-3">
                                                        <label for="nameDelete">First name: </label><br>
                                                        <input type="text" th:name="name" th:value="*{name}" id="nameDelete" class="form-control" placeholder="Disabled input"/>
                                                    </div>
                                                    <br/>
                                                    <div class="mb-3">
                                                        <label for="surnameDelete">Last name: </label><br>
                                                        <input type="text" th:name="surname" th:value="*{surname}" id="surnameDelete" class="form-control" placeholder="Disabled input"/>
                                                    </div>
                                                    <br/>
                                                    <div class="mb-3">
                                                        <label for="ageDelete">Age: </label>
                                                        <input type="text" th:name="age" th:value="*{age}" id="ageDelete" class="form-control" placeholder="Disabled input"/>
                                                        <br/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="emailDelete">Email: </label>
                                                        <input type="text" th:name="email" th:value="*{email}" id="emailDelete" class="form-control" placeholder="Disabled input"/>
                                                        <br/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="passwordDelete">Password: </label>
                                                        <input type="text" th:name="password" th:value="*{password}" id="passwordDelete" class="form-control" placeholder="Disabled input"/>
                                                        <br/>
                                                    </div>
                                                    <select multiple
                                                            class="form-control form-control-sm mb-3"
                                                            id="roles"
                                                            name="roles"
                                                            size="2" required placeholder="Disabled input">
                                                        <option th:each="role: ${userRoles}"
                                                                th:value="${role.getId()}"
                                                                th:selected="${user.getRoles()}">
                                                            <th:block
                                                                    th:text="${role.getRole()}">
                                                            </th:block>
                                                        </option>
                                                    </select>
                                                    </fieldset>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>

                                                </form>
                                                <!-- end edit form -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- end modal window -->
                            </tr>

                        </tbody>

                    </table>
                    </div>
                </div>

                <!-- new user -->

                <div class="tab-pane fade show"  id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    <div class="text-bg-light p-3 border"><h5>Add new user</h5></div>
                    <div class="col p-3 " style="background:#FFF;">
                    <form th:method="POST" th:action="@{/admin/saveUser}" th:object="${newUser}">
                        <div class="form-label mx-auto row justify-content-center" style="width: 350px" >

                            <label for="name" class="form-label text-center fw-bold">Name </label>
                            <input type="text" th:field="*{name}" id="name" class="form-control mb-3"/>


                            <label for="surname" class="form-label text-center fw-bold">Last Name </label>
                            <input type="text" th:field="*{surname}" id="surname" class="form-control mb-3"/>


                            <label for="email" class="form-label text-center fw-bold">E-mail </label>
                            <input type="text" th:field="*{email}" id="email" class="form-control mb-3"/>


                            <label for="password" class="form-label text-center fw-bold">Password </label>
                            <input type="text" th:field="*{password}" id="password" class="form-control mb-3"/>


                            <label for="age" class="form-label text-center fw-bold">Age </label>
                            <input type="number" th:field="*{age}" id="age" class="form-control mb-3"/>


                            <label class="form-label text-center fw-bold" for="rolesNew" >Roles </label>
                            <select class="form-select mb-3" multiple aria-label="multiple select example" size="2" id="rolesNew" name="roles">
                                <option th:each="role: ${userRoles}" th:field="*{roles}" th:text="${role.getRole().replaceFirst('ROLE_', '')}" th:value="${role.getId()}"></option>
                            </select>

                            <input type="submit" value="Add new user" class="btn btn-success mx-auto" style="width: 50%"/>
                        </div>

                    </form>

                </div>
            </div>
            </div>

            <!-- end admin left menu -->




        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
            <h2> User information-page </h2>

            <div class="text-bg-light p-3 border"><h5>About user</h5></div>
            <div class="col p-3" style="background:#FFF;">
            <!-- start user page -->
            <table class="table table-striped p-3">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>

                <tbody>
                <div th:object="${user}">
                    <tr>
                        <th scope="row" th:text="${user.getId()}">id</th>
                        <td th:text="${user.getName()}">Name</td>
                        <td th:text="${user.getSurname()}">Surname</td>
                        <td th:text="${user.getAge()}">Age</td>
                        <td th:text="${user.getEmail()}">Password</td>
                        <td><span th:each="role: ${user.getRoles()}" th:utext="${role.getRole().replaceFirst('ROLE_', ' ')}">
                    </span> </td>
                    </tr>
                </div>
                </tbody>

            </table>
            <!-- end user page -->
        </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>